@{
    ViewBag.Title = "Alpine E-Vapor";
}

<div class="content container">
    <img src="~/Content/Images/landing.png" />
    <div class="jumbotron">
        <h1>Alpine e-Vapor</h1>
        <p class="lead">Located in Denver, Colorado, Alpine e-Vapor is an e-cigarette shop supplying an alternative solution for smokers to break the habit of smoking cigarettes through the use of e-cigarettes.  They provide their customers with personal customer services to make the needs and wants they are looking for with personal vapors and e-juices.  Their inventory always has something new and hold special care of great quality.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <h3>Vapor & Accessories</h3>
            <p>
                E-cigarettes found in convenient stores and seen on television are not doing it for you.  Please, come and talk to one of their reps. Picking up a vapor cigarette and discover a new and exciting way to crunch your nicotine cravings without the harmful or inhaling dangerous carcinogens found in normal cigarettes.  Clearomizers to tanks to mods...
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Empower yourself</h2>
            <h3>Clearomizers to tanks to mods...</h3>
            <p>VG, PG, flavoring, and nicotine are the ingredients in e juices and kanthal coil(s) heat up and turn e juice to vapor.  You can build the coils or buy tanks and coils for devices.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Join us</h2>
            <h3></h3>
            <p>The inventory includes Wet Stache, Bomb Sauce, Cosmic Fog, and much, much more.  They have their own in-house e juices.  Kanger tanks, Freakshow to name a few.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
